<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hexun.base">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_CALL_LOG" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:theme"
        >

        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask" />
        <activity android:name="com.hexun.base.dateyearmonthday.AttendviewActivity"/>

    </application>

</manifest>
